@page
@model CapstoneIdeas.Pages.QuestionPage2.IndexModel
@{
}

@using Microsoft.AspNetCore.Http
@{HttpContext.Session.SetString("Test", "Test");}


<meta charset="utf8">
<title>ScaffoldSQL: Learning SQL via test cases and Parson's problems</title>
<link rel="stylesheet" href="~/lib/codemirror-5.64.0/lib/codemirror.css">
<link rel="stylesheet" href="~/css/demo.css" />
<link href="/css/parsons.css" rel="stylesheet" />
<link href="/lib/prettify.css" rel="stylesheet" />
<script src="/lib/prettify.js"></script>
<script src="~/lib/codemirror-5.64.0/lib/codemirror.js"></script>
<script src="~/lib/codemirror-5.64.0/mode/sql/sql.js"></script>

<style>
    @*.testcase_output {
        background-color: lightgray;
    }*@

    .pass {
        background-color: lightgreen;
    }

    .fail {
        background-color: pink;
    }

    .testcase_summary { background: lightgray; }

    .testcase_output > div:first-child { border-radius: 5px 5px 0 0; }

    .testcase_output > div:last-child { border-radius: 0 0 5px 5px; }

    .testcase_output > div { padding: .2em .8em; }

    .database_info_output {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .database_info_output table {
        align-self: flex-start;
        margin: .5em;
    }

    .database_info_output table > tr > td, .database_info_output table > tr > th { padding: 0 .2em 0 .2em; }

    .database_info_output table > tr > th { text-align: center; }

    .database_info_output table > caption {
        caption-side: top;
        color: black;
    }
</style>

<body>
    <h1>ScaffoldSQL</h1>
    <main>
        <!-- This is the Question label -->
        <label id='prompt' class='nohint' for='commands'></label>
        <br class='nohint'>
        @Html.AntiForgeryToken()
    <div id='hint_area' style='display: none;'>
        <b><div id='questionOutputHint' class='questionOutputHint'>Question will be displayed here</div></b>
        <p></p>
        <p>
            Construct your SQL program by dragging lines of code from the top to the bottom. You can change the
            names of the (<span class="jsparson-toggle"></span>)
            values by clicking them. You don't necessarily need to use all of the lines.
        </p>
        <p></p>
        <div id='sortableTrash' class='sortable-code'>
            <p>Trash</p>
        </div>
        <div id='sortable' class='sortable-code'>
            <p>Solution</p>
        </div>
        <!-- <div style='clear:both;'></div> -->
        <p>
            <button class='button' href="#" id="newInstanceLink">Reshuffle</button>
            <button class='button' href="#" id="feedbackLink">Execute</button>
        </p>
        <div style='clear:both;'></div>
        <!-- <div id="unittest"></div> -->
        <script src="/lib/jquery.min.js"></script>
        <script src="/lib/jquery-ui.min.js"></script>
        <script src="/lib/jquery.ui.touch-punch.min.js"></script>
        <script src="/lib/underscore-min.js"></script>
        <script src="/lib/lis.js"></script>
        <script src="/js/parsons.js"></script>
        <script src="/lib/skulpt.js"></script>
        <script src="/lib/skulpt-stdlib.js"></script>
    </div>

        <div id="noHintArea" class="noHintArea">
            <b><div id='questionOutputNoHint' class='questionOutputNoHint'>Question will be displayed here</div></b>
            <textarea class='nohint' id="commands">SELECT * &#013; FROM Players;</textarea>
            <button id='execute' class='nohint button'>Execute</button>
            <button id='refresh' class='refresh button' onClick='clearAllOutputs()'>Clear Outputs</button>
            <button id='showTables' class='tables button' onClick="showTables();">Show Database Information</button>
            <button id='hint' class='nohint button invisible' onClick="removeExtraButtons();">Hint</button>
        </div>
        <!-- If hint is clicked remove refresh button -->
        <p></p>
        <div id='error' class='error'></div>
        <div id='testcase_output' class='testcase_output'>
            <p>Test case results will be displayed here</p>
        </div>
        <div id="database_info_output" class="database_info_output">

        </div>
        <pre id='output'>Database output will be displayed here</pre>
    </main>

    <script type="text/javascript" src="/js/scaffold_sql.js"></script>
    <script type="text/javascript" src="/js/sql.js"></script>
    <script type="text/javascript" src="/dist/worker.sql-wasm-debug.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-firestore.js"></script>
    <script type="text/javascript" src="~/js/readWriteData.js"></script>
    <script src="~/lib/crypto-js/aes.js"></script>

    @*if execute button has not been clicked, hide hint button, if it has been clicked, show hint button*@


    @*<script>
        //forces the student to attempt one free form text answer, when they hit execute, will make the hint button appear
        if they need it
        $("#execute").click(function () {
        $("#hint").removeClass("invisible")
        });
        </script>*@


    @*<script>
        //when the hint button is pressed, will hide question that gets moved to the bottom
        $("#hint").click(function () {
        $("#questionOutputNoHint").addClass("invisible")
        });
        </script>*@

    <script>
        const params = new URLSearchParams(window.location.search);
        if (params.has('q')) {
            question = params.get('q');
            document.getElementById("prompt").innerHTML = "Question: " + question
            let url = question + '.txt';
            $.ajax({
                type: 'GET',
                // Call the FileController to get the Question Contents
                url: `FileController/GetQuestion/${url}`,
                success: function (results) {
                    parsonProblem = results.Parsons.join('\n');
                    readQuestions(results);
                    questionData = results;
                }
            });
        } else {
            loadBookDB();
        }

        var readQuestions = function (result) {
            // reads and removes the first string containing the question in the text files and assigns it to questionOutput
            console.log("QuestionOutput is " + result.Question);
            // outputs the question above the text box, when the hint button was not pressed
            document.getElementById("questionOutputNoHint").innerHTML = result.Question;
            // outputs the question above the Parson Problem draggables
            document.getElementById("questionOutputHint").innerHTML = result.Question;

            // While the question page is being loaded, if parsonInterace string contains "true", after one free form
            // text is attempted, the hint button is made visible after one free form text attempt
            // This has to be done while the page is being loaded
            if (result.ParsonsEnable) {
                $("#hint").removeClass("invisible");
            }
            // This allows an instructor to only use the Parson's interface
            if (!result.TextAreaEnable) {
                // If we want to disable the free-form interface, we need to
                // hide the CodeMirror editor and show the Parson's Problem area
                $("#noHintArea").hide();
                $("#hint_area").show();

                //And initialize the Parson's Problem - This is the same code as in scaffold_sql.js
                // initializeParsonsProblem(), but I'm not sure how to run that code if it hasn't been
                // loaded yet - ojb 2022-01-16
                var initial = parsonProblem;

                $(document).ready(function () {
                    var parson = new ParsonsWidget({
                        'sortableId': 'sortable',
                        'trashId': 'sortableTrash',
                        'vartests': [],
                        lang: "en",
                        'grader': ParsonsWidget._graders.LanguageTranslationGrader,
                        'executable_code': initial,
                        'programmingLang': "pseudo",
                        can_indent: false
                    });
                    parson.init(initial);
                    parson.shuffleLines();
                    $("#newInstanceLink").click(function (event) {
                        event.preventDefault();
                        parson.shuffleLines();
                    });
                    $("#feedbackLink").click(function (event) {
                        executable_code = parson.grader._replaceCodelines()
                        console.log(executable_code);
                        execute(executable_code + ';');
                    });
                });
            }
            // For now, hardcode the first element.
            loadBookDB(result.Database[0]);
        }

        var removeExtraButtons = function () {
            document.getElementById('refresh').style.display = 'none';
            document.getElementById('showTables').style.display = 'none';
        }

        function showTables() {
            clearNode(document.getElementById('database_info_output'));
            clearNode(document.getElementById('questionOutputHint'));
            //clearNode(document.getElementById('questionOutputNoHint'));
            clearNode(document.getElementById('output'));
            DisplayDatabaseInfo('database_info_output');
        }
    </script>

    <script>
        var timestamp = Date.now();
        var d = new Date(timestamp);
        document.write(d);
    </script>

</body>
