@page
@model ScaffoldingSQLProject.Pages.Research_Page.IndexModel
@{
}


<h1>Research Page </h1>
<body>
    <input type="text" id="Search" />
    <button type="button" id="Filter" onclick="Filter()">Filter</button>

    <ul id="list">
    </ul>

    <ul id="list2">
    </ul>


    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>


    <script>

        const firebaseConfig = {
            apiKey: "AIzaSyBLgMQlksXG0DEvTzPJAzj-B2ecsq3aIqQ",
            authDomain: "scaffold-sql.firebaseapp.com",
            databaseURL: "https://scaffold-sql-default-rtdb.firebaseio.com",
            projectId: "scaffold-sql",
            storageBucket: "scaffold-sql.appspot.com",
            messagingSenderId: "163714277862",
            appId: "1:163714277862:web:4d4b2f73ddcc73a3747627",
            measurementId: "G-177TCV719C"
        };

        //Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var student = 0;

        function addItemsToList(QuestionNumber, Question, Parson, HintTimestamp, ExecuteTimestamp, Attempts) {
            var ul = document.getElementById("list");
            var header = document.createElement("h2");

            var _QuestionNumber = document.createElement("li");
            var _Question = document.createElement("li");
            var _Parson = document.createElement("li");
            var _HintTimestamp = document.createElement("li");
            var _ExecuteTimestamp = document.createElement("li");
            var _Attempts = document.createElement("li");

            header.innerHTML = "Student - " + (++student);

            _QuestionNumber.innerHTML = "Question Number: " + QuestionNumber;
            _Question.innerHTML = "Question: " + Question;
            _Parson.innerHTML = "Parson: " + Parson;
            _HintTimestamp.innerHTML = "Hint Timestamp: " + HintTimestamp;
            _ExecuteTimestamp.innerHTML = "Execute Timestamp: " + ExecuteTimestamp;
            _Attempts.innerHTML = "Attempts: " + Attempts;

            ul.appendChild(header);
            ul.appendChild(_QuestionNumber);
            ul.appendChild(_Question);
            ul.appendChild(_Parson);
            ul.appendChild(_HintTimestamp);
            ul.appendChild(_ExecuteTimestamp);
            ul.appendChild(_Attempts);
        }
        function FetchAllData() {
            firebase.database().ref("parsons/entry").once("value", function (snapshot) {
                snapshot.forEach(
                    function (ChildSnapshot) {
                        let QuestionNumber = ChildSnapshot.val().QuestionNumber;
                        let Question = ChildSnapshot.val().Question;
                        let Parson = ChildSnapshot.val().Parson;
                        let HintTimestamp = ChildSnapshot.val().HintTimestamp;
                        let ExecuteTimestamp = ChildSnapshot.val().ExecuteTimestamp;
                        let Attempts = ChildSnapshot.val().Attempts;
                        addItemsToList(QuestionNumber, Question, Parson, HintTimestamp, ExecuteTimestamp, Attempts);
                    }
                );
            });
        }

        window.onload(FetchAllData());

        function Filter() {
            firebase.database().ref('parsons/entry').orderByChild('QuestionNumber').equalTo(document.getElementById("Search").value).on("value", function (snapshot) {
                snapshot.forEach(function (ChildSnapshot) {
                    let QuestionNumber = ChildSnapshot.val().QuestionNumber;
                    let Question = ChildSnapshot.val().Question;
                    let Parson = ChildSnapshot.val().Parson;
                    let HintTimestamp = ChildSnapshot.val().HintTimestamp;
                    let ExecuteTimestamp = ChildSnapshot.val().ExecuteTimestamp;
                    let Attempts = ChildSnapshot.val().Attempts;
                    document.getElementById("list").style.display = "none";
                    addItemsToList2(QuestionNumber, Question, Parson, HintTimestamp, ExecuteTimestamp, Attempts);
                });
            });
        }

        function addItemsToList2(QuestionNumber, Question, Parson, HintTimestamp, ExecuteTimestamp, Attempts) {
            var ul = document.getElementById("list2");
            var header = document.createElement("h3");

            var _QuestionNumber = document.createElement("li");
            var _Question = document.createElement("li");
            var _Parson = document.createElement("li");
            var _HintTimestamp = document.createElement("li");
            var _ExecuteTimestamp = document.createElement("li");
            var _Attempts = document.createElement("li");

            header.innerHTML = "Student";

            _QuestionNumber.innerHTML = "Question Number: " + QuestionNumber;
            _Question.innerHTML = "Question: " + Question;
            _Parson.innerHTML = "Parson: " + Parson;
            _HintTimestamp.innerHTML = "Hint Timestamp: " + HintTimestamp;
            _ExecuteTimestamp.innerHTML = "Execute Timestamp: " + ExecuteTimestamp;
            _Attempts.innerHTML = "Attempts: " + Attempts;

            ul.appendChild(header);
            ul.appendChild(_QuestionNumber);
            ul.appendChild(_Question);
            ul.appendChild(_Parson);
            ul.appendChild(_HintTimestamp);
            ul.appendChild(_ExecuteTimestamp);
            ul.appendChild(_Attempts);
        }
    </script>
</body>