@page
@model CapstoneIdeas.Pages.QuestionMaker.IndexModel
@{
    ViewData["Title"] = "Test Cases";
}
@*Create  a string, concat everything to the string individually instead of as i'm writing to the text file*@
<style>
    .card-body {
        background-color: #ABABAB
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<div class="card">
    <div class="card-header">
        <h3>Please enter the information to make a new problem</h3>
    </div>
    <div class="card-body">
        <form id="form1" method="post">
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Test"> Question Number</label>
                    <input class="form-control" type="text" asp-for="Test" />
                </div>
                &nbsp;
            </div>
            <div class="form-row">
                <div class="form-group">
                    <Label asp-for="Question">  Question</Label>
                    <input class="form-control" type="text" asp-for="Question" />
                </div>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="testCase" asp-for="testCasesON">
                <label class="custom-control-label" for="testCase">
                    Test Cases on Or off?
                </label>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <div>
                        <Label>Number of Rows</Label>
                        <input class="form-control" type="number" asp-for="testcase1" />
                        &nbsp;
                    </div>
                </div>
                &nbsp;
                <div class="form-group">
                    <div>
                        <Label>Number of columns</Label>
                        <input class="form-control" type="number" asp-for="testcase2" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <Label>Value at specific row, column</Label>
                    <div class="row">
                        <div col="col-4">
                            <input class="form-control" type="number" asp-for="testcase3" />
                        </div>
                        &nbsp;
                        @if (!Model.testcasetype3)
                        {
                            <div col="col-4" id="testcase3">
                                <input class="form-control" type="number" asp-for="testcase33" />
                            </div>
                        }
                        &nbsp;
                        <div col="col-4">
                            <input class="form-control" type="text" asp-for="testcase3333" />
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="Switch3" asp-for="testcasetype3">
                    <label class="custom-control-label" for="Switch3">
                        Turn this on if you want to check for a column header.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <div class="row">
                        <div col="col-4">
                            <input class="form-control pr-2" type="number" asp-for="testcase4" />
                        </div>
                        &nbsp;
                        @if (!Model.testcasetype4)
                        {
                            <div col="col-4" id="testcase4">
                                <input class="form-control pr-2" type="number" asp-for="testcase44" />
                            </div>
                        }
                        &nbsp;

                        <div col="col-4">
                            <input class="form-control pr-2" type="text" asp-for="testcase4444" />
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="Switch4" asp-for="testcasetype4">
                    <label class="custom-control-label" for="Switch4">
                        Turn this on if you want to check for a column header.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <Label>Value at specific row, column</Label>
                    <div class="row">
                        <div col="col-4">
                            <input class="form-control pr-2" type="number" asp-for="testcase5" />
                        </div>
                        &nbsp;
                        @if (!Model.testcasetype5)
                        {
                            <div col="col-4" id="testcase5">
                                <input class="form-control pr-2" type="number" asp-for="testcase55" />
                            </div>
                        }
                        &nbsp;
                        <div col="col-4">
                            <input class="form-control pr-2" type="text" asp-for="testcase5555" />
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="form-control custom-control-input" id="Switch5" asp-for="testcasetype5">
                    <label class="custom-control-label" for="Switch5">
                        Turn this on if you want to check for a column header.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <Label>Value at specific row, column</Label>
                    <div class="row">
                        <div col="col">
                            <input class="form-control pr-2" type="number" asp-for="testcase6" />
                        </div>
                        @if (!Model.testcasetype6)
                        {
                            <div col="col" id="testcase6">
                                <input class="form-control pr-2" autocomplete="off" type="number" asp-for="testcase66" />
                            </div>
                        }
                        <div col="col">
                            <input class="form-control pr-2" autocomplete="off" type="text" asp-for="testcase6666" />
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="Switch6" asp-for="testcasetype6">
                    <label class="custom-control-label" for="Switch6">
                        Turn this on if you want to check for a column header.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Secret Word</label>
                <input type="text" id="notHashedYet" asp-for="SecretWord" />
                <button type="button" id="show_button" onclick="Encryption()">Encrypt</button>
                <input type="hidden" id="hashedWord" />

            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="Switch7" asp-for="ParsonsOn">
                <label class="custom-control-label" for="Switch7">
                    Parson's Problem on?
                </label>
            </div>
            <div class="form-group">
                <h3>Please note that the options require three options a piece separated by a comma.</h3>
                <h3>Please keep options the same type of values EX: if one option is an integer that group should all be integers</h3>
                <h3>Insert only supports three columns at a time for now, no more no less. A Insert statement should have a total of 12 options 3 table names and 9 column names</h3>

                <div class="row">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Switch8" asp-for="needsSingle1">
                        <label class="custom-control-label" for="Switch8">
                            Column headers and table names?
                        </label>
                    </div>
                    <select class="col form-control form-control-lg" asp-for="firstParsonsCommand">
                        <option>--Please Select a Command</option>
                        <option>SELECT</option>
                        <option>FROM</option>
                        <option>INSERT INTO</option>
                        <option>VALUES</option>
                        <option>DELETE FROM</option>
                        <option>COUNT</option>
                        <option>IN</option>
                        <option>NOT</option>
                        <option>LIKE</option>
                        <option>CROSS JOIN</option>
                        <option>HAVING</option>
                        <option>ORDER BY</option>
                        <option>GROUP BY</option>
                        <option>OFFSET</option>
                        <option>LIMIT</option>
                        <option>RIGHT JOIN</option>
                        <option>UNION</option>
                        <option>FULL OUTER JOIN</option>
                        <option>ON</option>
                        <option>LEFT JOIN</option>
                        <option>NATURAL JOIN</option>
                        <option>JOIN</option>
                        <option>BETWEEN</option>
                        <option>AND</option>
                        <option>UPDATE</option>
                        <option>SET</option>
                        <option>WHERE</option>
                    </select>
                    <div class="col">
                        <input class="form-control" autocomplete="off" type="text" asp-for="firstParsonsOptions" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Switch9" asp-for="needsSingle2">
                        <label class="custom-control-label" for="Switch9">
                            Column headers and table names?
                        </label>
                    </div>
                    <select class="col form-control form-control-lg" asp-for="secondParsonsCommand">
                        <option>--Please Select a Command</option>
                        <option>SELECT</option>
                        <option>FROM</option>
                        <option>INSERT INTO</option>
                        <option>VALUES</option>
                        <option>DELETE FROM</option>
                        <option>COUNT</option>
                        <option>IN</option>
                        <option>NOT</option>
                        <option>LIKE</option>
                        <option>CROSS JOIN</option>
                        <option>HAVING</option>
                        <option>ORDER BY</option>
                        <option>GROUP BY</option>
                        <option>OFFSET</option>
                        <option>LIMIT</option>
                        <option>RIGHT JOIN</option>
                        <option>UNION</option>
                        <option>FULL OUTER JOIN</option>
                        <option>ON</option>
                        <option>LEFT JOIN</option>
                        <option>NATURAL JOIN</option>
                        <option>JOIN</option>
                        <option>BETWEEN</option>
                        <option>AND</option>
                        <option>UPDATE</option>
                        <option>SET</option>
                        <option>WHERE</option>
                    </select>
                    <div class="col">
                        <input class="form-control" autocomplete="off" type="text" asp-for="secondParsonsOptions" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Switch10" asp-for="needsSingle3">
                        <label class="custom-control-label" for="Switch10">
                            Column headers and table names?
                        </label>
                    </div>
                    <select class="col form-control form-control-lg" asp-for="thirdParsonsCommand">
                        <option>--Please Select a Command</option>
                        <option>SELECT</option>
                        <option>FROM</option>
                        <option>INSERT INTO</option>
                        <option>VALUES</option>
                        <option>DELETE FROM</option>
                        <option>COUNT</option>
                        <option>IN</option>
                        <option>NOT</option>
                        <option>LIKE</option>
                        <option>CROSS JOIN</option>
                        <option>HAVING</option>
                        <option>ORDER BY</option>
                        <option>GROUP BY</option>
                        <option>OFFSET</option>
                        <option>LIMIT</option>
                        <option>RIGHT JOIN</option>
                        <option>UNION</option>
                        <option>FULL OUTER JOIN</option>
                        <option>ON</option>
                        <option>LEFT JOIN</option>
                        <option>NATURAL JOIN</option>
                        <option>JOIN</option>
                        <option>BETWEEN</option>
                        <option>AND</option>
                        <option>UPDATE</option>
                        <option>SET</option>
                        <option>WHERE</option>
                    </select>
                    <div class="col">
                        <input class="form-control" autocomplete="off" type="text" asp-for="thirdParsonsOptions" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Switch34" asp-for="needsSingle4">
                        <label class="custom-control-label" for="Switch34">
                            Column headers and table names?
                        </label>
                    </div>
                    <select class="col form-control form-control-lg" asp-for="fourthParsonsCommand">
                        <option>--Please Select a Command</option>
                        <option>SELECT</option>
                        <option>FROM</option>
                        <option>INSERT INTO</option>
                        <option>VALUES</option>
                        <option>DELETE FROM</option>
                        <option>COUNT</option>
                        <option>IN</option>
                        <option>NOT</option>
                        <option>LIKE</option>
                        <option>CROSS JOIN</option>
                        <option>HAVING</option>
                        <option>ORDER BY</option>
                        <option>GROUP BY</option>
                        <option>OFFSET</option>
                        <option>LIMIT</option>
                        <option>RIGHT JOIN</option>
                        <option>UNION</option>
                        <option>FULL OUTER JOIN</option>
                        <option>ON</option>
                        <option>LEFT JOIN</option>
                        <option>NATURAL JOIN</option>
                        <option>JOIN</option>
                        <option>BETWEEN</option>
                        <option>AND</option>
                        <option>UPDATE</option>
                        <option>SET</option>
                        <option>WHERE</option>
                    </select>
                    <div class="col">
                        <input class="form-control" autocomplete="off" type="text" asp-for="fourthParsonsOptions" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Switch15" asp-for="needsSingle5">
                        <label class="custom-control-label" for="Switch15">
                            Column headers and table names?
                        </label>
                    </div>
                    <select class="col form-control form-control-lg" asp-for="fithParsonsCommand">
                        <option>--Please Select a Command</option>
                        <option>SELECT</option>
                        <option>FROM</option>
                        <option>INSERT INTO</option>
                        <option>VALUES</option>
                        <option>DELETE FROM</option>
                        <option>COUNT</option>
                        <option>IN</option>
                        <option>NOT</option>
                        <option>LIKE</option>
                        <option>CROSS JOIN</option>
                        <option>HAVING</option>
                        <option>ORDER BY</option>
                        <option>GROUP BY</option>
                        <option>OFFSET</option>
                        <option>LIMIT</option>
                        <option>RIGHT JOIN</option>
                        <option>UNION</option>
                        <option>FULL OUTER JOIN</option>
                        <option>ON</option>
                        <option>LEFT JOIN</option>
                        <option>NATURAL JOIN</option>
                        <option>JOIN</option>
                        <option>BETWEEN</option>
                        <option>AND</option>
                        <option>UPDATE</option>
                        <option>SET</option>
                        <option>WHERE</option>
                    </select>
                    <div class="col">
                        <input class="form-control" autocomplete="off" type="text" asp-for="fithParsonsOptions" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Switch80" asp-for="needsSingle6">
                        <label class="custom-control-label" for="Switch80">
                            Column headers and table names?
                        </label>
                    </div>
                    <select class="col form-control form-control-lg" asp-for="sixthParsonsCommand">
                        <option>--Please Select a Command</option>
                        <option>SELECT</option>
                        <option>FROM</option>
                        <option>INSERT INTO</option>
                        <option>VALUES</option>
                        <option>DELETE FROM</option>
                        <option>COUNT</option>
                        <option>IN</option>
                        <option>NOT</option>
                        <option>LIKE</option>
                        <option>CROSS JOIN</option>
                        <option>HAVING</option>
                        <option>ORDER BY</option>
                        <option>GROUP BY</option>
                        <option>OFFSET</option>
                        <option>LIMIT</option>
                        <option>RIGHT JOIN</option>
                        <option>UNION</option>
                        <option>FULL OUTER JOIN</option>
                        <option>ON</option>
                        <option>LEFT JOIN</option>
                        <option>NATURAL JOIN</option>
                        <option>JOIN</option>
                        <option>BETWEEN</option>
                        <option>AND</option>
                        <option>UPDATE</option>
                        <option>SET</option>
                        <option>WHERE</option>
                    </select>
                    <div class="col">
                        <input class="form-control" autocomplete="off" type="text" asp-for="sixthParsonsOptions" />
                    </div>
                </div>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="Ascending" asp-for="Acsending">
                <label class="custom-control-label" for="Ascending">
                    Ascending?
                </label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="Descending" asp-for="Descending">
                <label class="custom-control-label" for="Descending">
                    Decending?
                </label>
            </div>
            <div class="form-group">
                <label>Secret Word for parson's</label>
                <input type="text" id="notHashedYetPP" asp-for="ParsonsSecretWord" />
                <button type="button" id="show_button2" onclick="Encryption2()">Encrypt</button>
                <input type="hidden" id="hashedWordPP" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    $("#Switch3").click(function () {
        if ($(this).is(":checked")) {
            $("#testcase3").hide();
        } else {
            $("#testcase3").show();
        }
    });
    $("#Switch4").click(function () {
        if ($(this).is(":checked")) {
            $("#testcase4").hide();
        } else {
            $("#testcase4").show();
        }
    });
    $("#Switch5").click(function () {
        if ($(this).is(":checked")) {
            $("#testcase5").hide();
        } else {
            $("#testcase5").show();
        }
    });
    $("#Switch6").click(function () {
        if ($(this).is(":checked")) {
            $("#testcase6").hide();
        } else {
            $("#testcase6").show();
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
<script>
    function Encryption() {
        var encrypted = CryptoJS.AES.encrypt(document.getElementById("notHashedYet").value, "SQL is the best"); 
        document.getElementById("notHashedYet").value = encrypted;
    }
    function Encryption2() {
        var encrypted = CryptoJS.AES.encrypt(document.getElementById("notHashedYetPP").value, "SQL is the best");
        document.getElementById("notHashedYetPP").value = encrypted;
    }
    var button = document.getElementById("show_button");
    button.addEventListener('click', hideshow, false);

    function hideshow() {
        document.getElementById("show_button").style.display = "none";
    }
    var button2 = document.getElementById("show_button2");
    button2.addEventListener('click', hideshow2, false);

    function hideshow2() {
        document.getElementById("show_button2").style.display = "none";
    }
</script>